// Multiples components styles

// UnderlinedText
.underlined-title {
  font-family: var(--font-secondary);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
  }
}

// Logo
.app-name {
  color: white;
  font-family: var(--font-secondary);
  font-weight: 700;
  letter-spacing: 0.8px;

  i {
    margin-left: 10px;
    color: var(--secondary-color);
    font-size: 20px;
  }
}

// Button
.primary-button {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  border-radius: 50px;
  padding: 10px 30px;
  color: white;
  background: var(--primary-light-color);
  box-shadow: 0 0 15px var(--shadow-color);
  border: 2px solid var(--primary-hover-color);
  transition: 0.2s;
  cursor: pointer;

  &:disabled {
    opacity: 0.35;
    cursor: default;
  }

  &.loading {
    cursor: default;
  }

  &.secondary {
    background-color: #d7d7d7;
    border-color: #b8b8b8;
    color: var(--primary-text-color);

    &:hover:not(:disabled) {
      border-color: #cdcdcd !important;
    }
  }

  .text {
  }

  &:hover:not(:disabled) {
    border-color: rgba(255, 255, 255, 0.5) !important;
  }
}

// Error message
.error-message {
  padding: 10px;
  display: flex;
  align-items: center;
  color: var(--secondary-color);

  border-radius: 5px;
  border: 1px solid #ffcacf;
  background-color: #ffdfe2;
  width: 100%;
  i {
    margin-right: 10px;
  }
}

// StyledLink
.StyledLink {
  color: var(--primary-text-color);
  transition: color 0.2s;
  // text-decoration: underline solid var(--primary-color) 2px;

  &:hover {
    color: var(--primary-color);

    // text-decoration-color: var(--primary-hover-color);
  }
}

// default form behavior
.form-wrapper {
  width: 50%;
  max-width: 500px;
  margin-top: 25px;
}

// page default behavior
.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 15px;
}

.SuccessMessage {
  display: flex;
  align-items: center;
  margin: 35px 0;
  i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--primary-color);
  }
}

// Multiple link in navbar
.MultipleLink {
  position: relative;

  i {
    margin-left: 5px;
    transition: 0.5s;
  }

  &:hover {
    i {
      transform: rotate(180deg);
    }

    .link-menu {
      top: calc(100%);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  .link-menu {
    z-index: 10000;
    position: absolute;
    left: 0;
    top: calc(120%);
    opacity: 0;
    background-color: var(--primary-color);
    box-shadow: 0 10px 10px var(--shadow-color);
    flex-direction: column;
    padding: 10px 15px;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s ease;

    a {
      margin: 2px 0;
      &::after {
        display: none;
      }
    }
  }
}

// Icon button (like in admin page)
.icon-button {
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

// react-modal style
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(143, 143, 143, 0.433);
  cursor: pointer;
}

.modal-content {
  position: relative;
  width: fit-content;
  min-width: 500px;
  height: fit-content;
  min-height: 200px;
  inset: unset !important;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  cursor: default;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      &:hover {
        color: #535353;
      }
    }
  }

  .content {
    margin: 15px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .action-buttons {
    // background-color: rgb(235, 235, 235);
    padding-top: 15px;
    // border-top: 1px solid var(--table-border-color);
    display: flex;
    justify-content: space-evenly;
    // height: 70px;
    .primary-button {
      padding: 5px 20px;

      &.important {
        background-color: #ff5151;
        border-color: #ff5151;

        &:hover {
          // border-color: inherit !important;
        }
      }
    }
  }
}
