.ManageUsers,
.ManageRequests {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-user {
    padding: 5px 25px;
  }

  .users-table {
    margin: 40px auto 0;
    padding: 0 var(--container-margin);
    width: 100%;

    .actions-container {
      display: flex;
      justify-content: space-evenly;
      .delete-btn {
        color: var(--secondary-color);
      }
    }
  }

  .requests-table {
    max-width: 85%;
    tr {
      grid-template-columns: 50px repeat(3, 1fr) 2fr 100px;

      td {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        align-self: center;
      }

      .actions-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .validate-btn {
          color: var(--primary-color);
        }
        .remove-btn {
          color: var(--secondary-color);
        }
      }
    }
  }
}
