#ContainerMapPage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  font-family: var(--font-secondary);
  background-color: var(--dark-background-color);

  flex-direction: column;

  .bus-icon {
    background-color: none;
  }

  #Map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 9;
  }

  .legend {
    margin: 0 10px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .grid {
      display: grid;
      grid-template-columns: 25px 1fr;
      margin: 10px;
      cursor: pointer;
      align-items: center;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      .line {
        $line-icon-size: 20px;
        color: white;

        border-radius: 50%;
        width: $line-icon-size;
        height: $line-icon-size;
        line-height: $line-icon-size;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
      }
    }
    .label {
      margin-left: 5px;
      font-size: 15px;
    }
  }

  #legend {
    height: 100%;
    width: 100%;
    color: aliceblue;
    width: 100%;
    text-align: center;
    // overflow-y: scroll;

    h2 {
      margin: 2vw;
    }
    // #bus {
    //   font-family: var(--font-secondary);
    //   text-transform: uppercase;
    //   text-align: left;
    //   padding-left: 1vw;
    // }
    // ul {
    //   list-style: none;
    //   text-align: left;
    //   padding-left: 1vw;

    //   li {
    //     #bullet {
    //       font-size: 1.5rem;
    //       font-weight: 900;
    //     }
    //   }
    // }
  }
  @include md {
    flex-direction: row;

    #Map {
      width: 80vw;
    }

    .legend {
      display: block;

      .grid {
        margin: 10px 0;
      }
    }
    #legend {
      width: 20vw;
    }
  }
}
