<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <title>IrigoMap - Reset password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div th:text='${"Bonjour " + name + ","}'></div>
    <div style="margin: 10px 0">Vous avez demandé la réinitialisation de votre mot de passe. Cliquez <a style="color: #00796b" th:href="${urlBase + '/reset-password/' + token}">ici</a> pour le réinitialiser. </div>
    <div style="margin-top: 10px">Cordialement</div>
    <img th:src='${urlBase + "/email-logo.jpg"}' alt="IrigoMap"/>
</body>
</html>